include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('brand-dropdown')(
  :class="{ 'brand-dropdown_active': isDropdownActive }"
  v-on-clickaway="hideDropdown"
)
  +e('control')(
    aria-haspopup="true"
    aria-controls="{'brand-dropdown__dropdown-menu'}"
    @click="toggleDropdown"
  )
    +e('label', {}) {{ selfLabel }}
    +e('icon', {t: 'svg'})
      use(xlink:href="#chevron-down")
  +e('dropdown-menu', {})(
    id="dropdown-menu"
    role="menu"
  )
    slot(name="dropdown-list")